:root {
    --color5: #EACDC2;
    --color1: #B75D69;
    --color2: #774C60;
    --color3: #372549;
    --color4: #1A1423;
}

.page {
    justify-items: center;
}

h1 {
    color: #f7f7f7;
    font-size: 500%;
    text-align: center;
}

.img-container {
    background-color: var(--color4);
    justify-items: center;
    padding-top: 5px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
    border-radius: 30px;
}

h2 {
    color: #f7f7f7;
    font-size: 200%;
    text-align: center;
}

.table-container {
    background-color: var(--color1);
}